{% load static %}
{% load custom_filters %}


<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IoT Project 6조</title>
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.600/neodgm/style.css"
        />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>

    <body>

        <header>
            <div class="container">
                <h1>스마트 지팡이 관리 시스템</h1>
                <nav class="top-right-navigation">
                    <ul>
                        <li>
                            <a href="{% url 'cane_description' %}">제품 개요</a>
                        </li>
                        <li><a href="{% url 'our_team' %}">개발 팀 소개</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <h2 class="LittleTitle">실시간 데이터 모니터링</h2>
            <div class="groupClass">
                <div class="pageClass">
                    <div class="LittleTitle">Static Table</div>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>조도</th>
                                <th>장애물</th>
                                <th>기울기</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if sensor_value_list %}
                                {% for sensor in sensor_value_list %}
                                <tr>
                                    <td>{{ sensor.id }}</td>
                                    {% with sensor.value|split:", " as values %}
                                        <td>{{ values.0 }}</td>
                                        <td>{{ values.1 }}</td>
                                        <td>{{ values.2 }}</td>
                                    {% endwith %}
                                </tr>
                                {% endfor %}
                            {% else %}
                                <p>No sensor values are available.</p>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                <div class="sensor-container">
                    <!-- 그래프 영역 -->
                    <div class="graph-container">
                        <div class="chart-wrapper">
                            <div class="chart-title">장애물 센서 그래프</div>
                            <div id="realtime1" class="floatchart"></div>
                        </div>
                        <div class="chart-wrapper">
                            <div class="chart-title">조도 센서 그래프</div>
                            <div id="realtime2" class="floatchart"></div>
                        </div>
                        <div class="chart-wrapper">
                            <div class="chart-title">기울기 센서 그래프</div>
                            <div id="realtime3" class="floatchart"></div>
                        </div>
                    </div>

                    <!-- 아이콘 전용 컨테이너 -->
                    <div class="icon-container">
                        <div class="icon-card">
                            <p>LED 상태</p>
                            <div id="bulb" class="bulb-off"></div>
                        </div>
                        <div class="icon-card">
                            <p>부저 상태</p>
                            <div id="buzzer" class="buzzer-off"></div>
                        </div>
                        <div class="icon-card">
                            <p>전원 상태</p>
                            <div id="power" class="power-off"></div>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.stack.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.time.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.categories.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        
    </body>
</html>
