{% load static %}
<!doctype html>
<html>
    <head>
        <title>OUR TEAM</title>
        <link rel="stylesheet" href="{% static 'css/style_team.css' %}" />
    </head>
    <body>

        <div class="wrapper">
            <ul class="team">
                <li class="team-item">
                    <div class="profile profile_beige">
                        <img src="{% static 'images/me.png' %}">
                        <div class="profile-contents">
                            <h2>김단이 <span>Front-end</span></h2>
                        </div>
                    </div>
                </li>
                <li class="team-item">
                    <div class="profile profile_green">
                        <img src="{% static 'images/hyunb.jpg' %}">
                        <div class="profile-contents">
                            <h2>백현빈 <span>Front-end</span></h2>
                        </div>
                    </div>
                </li>
                <li class="team-item">
                    <div class="profile profile_pink">
                        <img src="{% static 'images/tae.png' %}">
                        <div class="profile-contents">
                            <h2>이태현 <span>Sensors</span></h2>
                        </div>
                    </div>
                </li>
                <li class="team-item">
                    <div class="profile profile_purple">
                        <img src="{% static 'images/jun.png' %}">
                        <div class="profile-contents">
                            <h2>김준형 <span>Back-end</span></h2>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <script> </script>
    </body>
</html>
